<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeGems</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <header>
      <nav class="navbar bg-dark" data-bs-theme="dark">
        <span class="navbar-brand mb-0 h1 " style="font-weight: bold;">CodeGem</span>
        <a href="/newpost" class="btn btn-outline-light" role="button">New Post</a>
      </nav>
    </header>
</body>
</html>